---
---

@import "{{ site.theme }}";

body {
    background: #fcfcf9;
}

.logo {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.99);
    text-align: center;
}

.subtitle {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}
